<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>

<body>
  <h3 class="center-align">Buscando con Ajax - XHR</h3>
  <br>
  <br>
  <div class="container">
    <h5 class="center-align"> Que te interesa hoy?</h5>
    <form id="search-form">
      <div class="input-field">
        <label for="search-keyword">que buscamos</label>
        <br>
        <input id="search-keyword" type="search" required>
        <input id="submit" type="submit" value="submit">
      </div>
    </form>
  </div>
  <div id="container">
    <ul id="response-container">

    </ul>

  </div>





  <script src="../js/fetch.js"></script>
</body>

</html>